@page "/add"


<EditForm Model="@Patient" OnValidSubmit="@Submit" OnInvalidSubmit=@InvalidSubmit>
    <div class="alert @_statusClass">@_statusMessage</div>
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="Name" class="col-md-2 col-form-label">Név: </label>
        <div class=" col-sm-8">
            <InputText id="Name" class="form-control" @bind-Value="@Patient.Name" placeholder="Adja meg a teljes nevét"></InputText>
             <ValidationMessage For="@(() => Patient.Name)" />
        </div>
    </div>
    
    <div class="mb-3 row">
        <label for="Address" class="col-md-2 col-form-label">Lakcím: </label>
        <div class=" col-sm-8">
            <InputText id="Address" class="form-control" @bind-Value="@Patient.Address" placeholder="Adja meg jelenlegi lakcímét"></InputText>
            <ValidationMessage For="@(() => Patient.Address)" />
        </div>
    </div>
    
    <div class="mb-3 row">
        <label for="SSN" class="col-md-2 col-form-label">Taj szám: </label>
        <div class=" col-sm-8">
            <InputText id="SSN" class="form-control" @bind-Value="@Patient.SocialSecurityNumber" placeholder="Adja meg TAJ-számát"></InputText>
            <ValidationMessage For="@(() => Patient.SocialSecurityNumber)" />
        </div>
    </div>

    <div class="mb-3 row">
        <label for="Symptom" class="col-md-2 col-form-label">Tünetek: </label>
        <div class=" col-sm-8">
            <InputText id="Symptom" class="form-control" @bind-Value="@Patient.Symptom" placeholder="Írja be a tapasztalt tüneteket"></InputText>
            <ValidationMessage For="@(() => Patient.Symptom)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Felvitel</button>
</EditForm>