@page "/patients"

<h3>Páciensek</h3>

@if (Patients == null)
{
	<p><em>Betöltés...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<td>Név</td>
				<td>Tünet</td>
				<td>TAJ szám</td>
				<td>Cím</td>
				<td>Feljegyzési idő</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var p in Patients)
			{
				<tr>
					<td>@p.Name</td>
					<td>@p.Symptom</td>
					<td>@p.SocialSecurityNumber</td>
					<td>@p.Address</td>
					<td>@p.RecordTime</td>
					<td><a href=@($"patients/{p.Id}") class="btn btn-primary table-btn">Részletek</a></td>
				</tr>
			}
		</tbody>
	</table>
}
